@media(max-width: 1367px) {
	.btn {
		padding-right: 76px;
		height: 55px;
		line-height: 55px;
		.circle {
			right: 0;
			line-height: 55px;
			width: 55px;
			height: 55px;
		}
	}
	.intro {
		//background-position: 90px -50px;
		background-position: 80% -40px;
		background-size: 1046px auto;
		&__inner {
			padding-top: 155px;
			padding-bottom: 103px;
		}
		&__title {
			font-size: 64px;
		}
		&__content {
			margin: 30px 0;
		}
		&__list {
			ul {
				li {
					flex-basis: 50%;
					margin-bottom: 20px;
				}
			}
		}
		&__btn {
			margin-bottom: 75px;
		}
	}
	.tasks {
		&__inner {
			//padding-top: 62px;
			padding-bottom: 124px;
		}
		&__title {
			margin-bottom: 40px;
			font-size: 64px;
		}
	}
	.pluses {
		&__inner {
			padding: 124px 0;
		}
	}
	.advantages {
		&__inner {
			padding-top: 124px;
			padding-bottom: 42px;
		}
		&__title {
			max-width: 100%;
		}
		&__items {
			flex-basis: 90%;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__item {
			margin-right: 30px;
			margin-bottom: 20px;
			max-width: 500px;
		}
	}
	.courses {
		&__inner {
			padding-top: 62px;
			padding-bottom: 124px;
			background-position: 90% 100px;
			background-size: 408px;
		}
		&__title {
			margin-bottom: 30px;
		}
		&__text {
			max-width: 588px;
			margin-bottom: 40px;
		}
		&__item:first-child {
			max-width: 588px;
		}
		&__item:last-child {
			max-width: 500px;
		}
	}
	.consultation {
		&__inner {
			padding: 124px 0;
		}
		&__form {
			padding: 70px 48px;
		}
	}
	.offers {
		&__inner {
			padding-top: 124px;
			padding-bottom: 83px;
		}
	}
	.information {
		&__inner {
			padding: 62px 0;
		}
		&__title {
			font-size: 64px;
			margin-bottom: 30px;
		}
		&__text {
			max-width: 873px;
			margin-bottom: 40px;
		}
		&__wrapper {
			margin-bottom: 0;
			flex-wrap: wrap;
			div {
				flex-basis: 100%;
			}
			.information__item+.information__item {
				margin-top: 0;
			}
		}
		&__right {
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;
		}
		&__right, &__items {
			max-width: 85%;
		}
		&__item {
			flex-basis: 50%;
			max-width: 500px;
			&+& {
				margin-left: 40px;
			}
		}
		&__item+&__item {
			margin-top: 0;
		}
	}
	.blog {
		&__inner {
			padding-top: 62px;
			padding-bottom: 124px;
		}
		&__title {
			font-size: 64px;	
		}
		&-slide {
			max-width: 484px;
			&__image {
				margin-bottom: 20px;
			}
		}
	}
}

@media(max-width: 1100px) {
	.advantages {
		&__title {
			font-size: 52px;
		}
	}
}

@media(max-width: 1178px) {
	.pluses {
		&__wrapper {
			flex-wrap: wrap;
		}
		&__items {
			justify-content: space-between;
		}
		&__content {
			margin-top: 60px;
			max-width: 400px;
		}
	}
	.courses {
		&__inner {
			padding-top: 50px;
			padding-bottom: 100px;
		}
		&__title {
			font-size: 52px;
		}
		&__text {
			max-width: 588px;
			margin-bottom: 40px;
		}
		&__item:first-child {
			max-width: 588px;
		}
		&__item:last-child {
			max-width: 500px;
		}
	}
}

@media(max-width: 1040px) {
	.blog {
		&__inner {
			padding: 50px 0;
		}
		&__title {
			font-size: 52px;	
		}
		&-slide {
			max-width: 350px;
		}
	}
	.footer {
		&__inner {
			padding-top: 91px;
			padding-bottom: 100px;
		}
		&__logo {
			margin-bottom: 41px;
			img {
				width: 70px;
			}
		}
		&__socials {
			margin-top: 61px;
			ul {
				flex-direction: row;
				li+li {
					margin-left: 10px;
				}
				a {
					margin-bottom: 0;
				}
			}
		}
		&__wrapper {
			flex-wrap: wrap;
		}
		&__logo, &__socials {
			flex-basis: 100%;
		}
		&-navigation, &-contacts {
			.title {
				font-size: 34px;
				margin-bottom: 20px;
			}
		}
		&__copyright {
			margin-top: 50px;
		}
	}
}

@media(max-width: 1220px) {
	.header {
		&__burger {
			display: block;
		}
		&__tels {
			margin: 0;
			flex-direction: row;
			a+a {
				margin-left: 30px;
			}
		}
	}
	.intro {
		&__socials_in_menu {
			position: static;
			ul {
				display: block;
				li {
					display: inline-block !important;
					width: auto !important;
					margin-right: 16px;
				}
			}
			img {
				filter: invert(100%);
			}
		}
	}
	.benefits {	
		&__inner {
			padding-top: 124px;
			padding-bottom: 62px;
		}
		&__title {
			max-width: 100%;
		}
		&__content {
			max-width: 638px;
		}
	}
	.pluses {
		&__title {
			font-size: 52px;
		}
	}
}

@media(max-width: 850px) {
	.offers {
		&__inner {
			padding-top: 100px;
			padding-bottom: 50px;
		}
		&__title {
			margin-bottom: 30px;
			font-size: 52px;
		}
		&__text {
			margin-bottom: 40px;
			max-width: 100%;
		}
		&__subtitle {
			margin-bottom: 50px;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		&__item {
			flex-basis: 50%;
			margin-bottom: 40px;
		}
	}
	.information {
		&__inner {
			padding: 50px 0;
		}
		&__title {
			font-size: 52px;
		}
		&__text {
			max-width: 588px;
		}
		&__right, &__items {
			flex-wrap: wrap;
		}
		&__wrapper, &__items {
			.information__item+.information__item {
				margin-top: 40px;
			}
		}
		&__item {
			flex-basis: 100%;
			max-width: 604px;
			&+& {
				margin-left: 0;
				margin-top: 40px;
			}
		}
	}
}

@media(max-width: 768px) {
	.popup {
		width: 100%;
		left: 0;
		padding: 75px 43px;
		&__title {
			margin-bottom: 45px;
			font-size: 34px;
		}
		&__form {
			margin-right: -64px;
			flex-direction: row;
			input {
				width: 303px;
				margin-right: 64px;
			}
			button {
				margin-top: 0;
			}
		}
	}
	.popup-close {
		bottom: auto;
		right: 38px;
		top: 86px;	
	}
	.intro {
		//background-position: -100px 120px;
		background-size: 920px auto;
		background-position: 100% 35%;
		&__inner {
			padding-top: 140px;
			padding-bottom: 173px;
		}
		&__title {
			font-size: 52px;
		}
		&__content {
			max-width: 309px;
			margin-bottom: 20px;
		}
		&__btn {
			margin-bottom: 141px;
		}
		&__list {
			ul {
				li {
					flex-basis: 100%;
					margin-bottom: 35px;
				}
			}
		}
		&__socials {
			left: 0;
			bottom: 40px;
			ul {
				flex-direction: row;
				a {
					margin-right: 16px;
				}
			}
		}
	}
	.benefits {	
		&__inner {
			padding-top: 100px;
			padding-bottom: 50px;
		}
		&__title {
			font-size: 52px;
		}
	}
	.tasks {
		&__inner {
			padding-top: 50px;
			padding-bottom: 100px;
		}
		&__title {
			font-size: 52px;
		}
	}
	.pluses {
		&__inner {
			padding: 100px 0;
		}
		&__title {
			margin-bottom: 40px;
		}
	}
	.courses {
		&__inner {
			padding-top: 45px;
			padding-bottom: 90px;
		}
		&__title {
			font-size: 52px;
		}
		&__item {
			&_title {
				font-size: 36px;
			}
		}
	}
	.consultation {
		background-color: $light_blue;
		&__inner {
			padding-top: 90px;
			padding-bottom: 100px;
		}
		&__form {
			padding: 50px;
		}
		&__wrapper {
			flex-wrap: wrap;
		}
		&__controls {
			input[type="text"] {
				flex-basis: 100%;
			}
		}
		button {
			margin-left: 0;
		}
		&__checkbox {
			margin-bottom: 40px;
		}
	}
	.blog {
		&__inner {
			padding-top: 50px;
			padding-bottom: 100px;
		}
		&-slide {
			max-width: 484px;
		}
	}
}

@media(max-width: 550px) {
	.popup {
		padding: 50px 12px;
		&__form {
			display: block;
			margin-right: 0;
			input {
				width: 303px;
				margin-right: 0;
				margin-bottom: 45px;
			}
		}
	}
	.popup-close {
		right: 12px;
		top: 53px;	
	}
	.header {
		&__logo {
			img {
				max-width: 54px;
			}
		}
		&__burger {
			width: 36px;
			height: 21px;
			span, 
			&:before, 
			&:after {
				height: 3px;
			}
			span {
				top: 9px;
			}
			&:before {
				top: 0px;
			}
			&:after {
				bottom: 0px;
			}
			&.menu-opened:before {
				top: 10px;
			}
			&.menu-opened:after {
				top: 9px;
			}
		}
		&__tels {
			flex-direction: column;
			a+a {
				margin-left: 0;
			}
		}
	}
	.intro {
		background-position: -240px 100px;
		background-size: 593px auto;
		&__inner {
			padding-top: 94px;
			padding-bottom: 42px;
		}
		&__title {
			font-size: 34px;
			margin-bottom: 270px;
		}
		&__content {
			margin-top: 0;
		}
		&__btn {
			margin-bottom: 30px;
		}
		&__socials {
			display: none;
		}
		&__list {
			ul {
				font-size: 18px;
			}
		}
	}
	.tasks {
		&__inner {
			padding-top: 45px;
			padding-bottom: 90px;
		}
		&__title {
			font-size: 34px;
		}
	}
	.pluses {
		&__inner {
			padding: 90px 0;
		}
		&__title {
			font-size: 34px;
		}
		&__item {
			flex-basis: 50%;
		}
	}
	.advantages {
		&__inner {
			padding-top: 90px;
			padding-bottom: 5px;
		}
		&__title {
			font-size: 32px;
		}
		&__items {
			flex-basis: 100%;
		}
		&__item {
			margin-bottom: 40px;
			margin-right: 0;
			&_title {
				font-size: 24px;
			}
		}
	}
	.courses {
		&__title {
			font-size: 34px;
		}
	}
	.offers {
		&__inner {
			padding-top: 90px;
			padding-bottom: 15px;
		}
		&__title {
			margin-bottom: 20px;
			font-size: 34px;
		}
		&__subtitle {
			margin-bottom: 40px;
			font-size: 24px;
		}
		&__item {
			margin-bottom: 60px;
			max-width: 140px;
		}
	}
	.information {
		&__inner {
			padding-top: 15px;
			padding-bottom: 45px;
		}
		&__items, &__right {
			max-width: 100%;
		}
	}
	.blog {
		&__inner {
			padding-top: 45px;
			padding-bottom: 90px;
		}
		&__title {
			font-size: 34px;
		}
		&-slide {
			max-width: 271px;
			&__date {
				display: none;
			}
			&__title {
				font-size: 18px;
				color: $white;
				position: absolute;
				bottom: 0;
				padding: 5px;
			}
		}
		.slick-dots {
			margin-top: 40px;
		}
	}
	.footer {
		&__inner {
			padding: 90px 0;
		}
		&__logo {
			img {
				width: 54px;
			}
		}
		&__socials {
			margin-top: 50px;
		}
		&-navigation {
			margin-bottom: 40px;
		}
		&-navigation, &-contacts {
			flex-basis: 100%;
		}
	}
}

@media(max-width: 426px) {
	.benefits {	
		&__inner {
			padding-top: 90px;
			padding-bottom: 45px;
		}
		&__title {
			font-size: 34px;
		}
	}
	.pluses {
		&__title {
			font-size: 34px;
		}
	}
	.consultation {
		&__form {
			padding: 60px 12px;
		}
		&__title {
			font-size: 24px;
		}
	}
	.information {
		&__title {
			font-size: 34px;
		}
		&__item {
			&-title {
				font-size: 24px;
			}
		}
	}
}

@media(max-width: 376px) {
	.intro {
		//background-position: -240px 80px;
	}
	.tasks {
		&__item {
			padding: 15px 12px;
		}
	}
	.pluses {
		&__item {
			max-width: 155px;
		}
	}
	.consultation {
		&__inner {
			padding: 30px 0px;
		}
		&__title {
			font-size: 24px;
		}
	}
	.blog {
		&__inner {
			padding-top: 45px;
			padding-bottom: 90px;
		}
	}
}

@media(max-width: 376px) {
	.pluses {
		&__title {
			font-size: 30px;
		}
		&__item {
			div {
				padding-right: 15px;
			}
		}
	}
	.blog {
		&__btn {
			margin-top: 50px;
		}
	}
	#consultation__fixed {
		svg {
			width: 54px;
		}
	}
}

@media(max-width: 321px) {
	.header {
		&__tels {
			font-size: 14px;
		}
	}
	.intro {
		//background-position: -260px 110px;
		background-position: -260px 180px;
	}
	.offers {
		&__item {
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}
