$text: #585858;
$back: #f0f0f0;
$gray: #757575;
$black: #292929;
$blue: #2c55e4;
$darkblack: #3c3c3c;
$yellow: #FFE604;
$pink: #FFA9BB;
$dark_pink: #FF625B;
$green: #14E731;
$light_blue: #447EF0;
$white: #fff;
$inter: 'Inter', sans-serif;