@import 'base';

.header {
	position: fixed;
	width: 100%;
	background-color: $light_blue;
	z-index: 99;
	a {
		color: $lightwhite;
	}
	a:hover {
		color: $white;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		font-size: 16px;
	}
	&__tels {
		margin-right: auto;
		margin-left: 120px;
		display: flex;
		flex-direction: column;
	}
	&__burger {
		display: none;
		cursor: pointer;
		width: 48px;
		height: 28px;
		position: relative;
		& span, 
		&:before, 
		&:after {
			position: absolute;	
			left: 0;
			height: 4px;
			width: 100%;
			background-color: $white;
			transition: all 0.3s ease-out;
		}
		span {
			top: 12px;
		}
		&:before {
			content: '';
			top: 2px;
		}
		&:after {
			content: '';
			bottom: 2px;
		}

		&.menu-opened:before {
			transform: rotate(45deg);
			top: 11px;
		}

		&.menu-opened:after {
			transform: rotate(-45deg);
			bottom: 13px;
		}

		&.menu-opened span{
			transform: scale(0);
		}
	}
	&__search {
		position: relative;
		display: block;
		width: 0;
		padding: 4px 20px 4px 0;
		border-bottom: 1px solid transparent;
		transition: width .3s ease-out;
		a {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
		&.active {
			border-color: $lightwhite;
			width: 223px;
		}
		input {
			width: 100%;
			display: block !important;
			border: none;
			padding: 0;
			color: $lightwhite;
			&::placeholder {
		    	color: $lightwhite;
		    }
		}
	}
	&__menu {
		.menu__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			color: $darkblack;
			.menu__title {
				margin-bottom: 15px;
				font-size: 48px;
			}
			.menu__item {
				display: flex;
				justify-content: space-between;
			}
			.menu__close {
				position: relative;
				width: 30px;
				height: 30px;
				cursor: pointer;
				&:before, &:after {
					content: '';
					position: absolute;
					top: 13px;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #000;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
			>li {
				margin-right: 60px;
				>a:hover {
					color: $white;
				}
			}
			li a {
				display: inline-block;
				width: 100%;
				max-width: 200px;
				//width: 250px;
				//max-width: 100%;
				min-height: 40px;
			 	padding: 15px 15px 15px 0;
			 	transition: all .3s ease-out;
			}
			ul, ul ul {
				display: none;
				background: $white;
				a {
					color: $darkblack;
					&:hover {
						color: $light_blue;
					}
				}
			}
			ul {
				position: absolute;
				overflow-y: auto;
				flex-basis: 100%;
				padding: 45px 12px;
				top: 100%;
				left: 0;
				right: 0;
				width: 100%;
				max-width: 1520px;
				margin: 0 auto;
				font-size: 20px;
				a {
					width: auto;
					max-width: 100%;
				}
			}
			ul ul {
				position: static;
				flex-basis: 100%;
				//border: 1px solid blue;
				padding: 0 0 0 30px;
				font-size: 18px;
				a {
					border-bottom: 1px solid transparent;
					padding: 7px 0;
					min-width: 200px;
					&:hover {
						color: $text;
						border-color: $text;
					}
				}
			}
			li.has-sub {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				//border: 1px solid green;
				>a {
					//border: 1px solid yellow;
					padding-right: 0;
				}
				.active-link {
					color: $light_blue;
				}
			}
			>li.has-sub {
				flex-wrap: nowrap;
				>.submenu-button {
					color: $lightwhite;
					&:hover, &.active {
						color: $white;
					}
				}
				>.active-link {
					color: $white;
				}
				>ul {
					// max-width: 1520px;
					// margin: 0 auto;
				}
			}
			ul li.has-sub>.submenu-button {
				transform: rotate(-90deg);
				&.active {
					transform: rotate(90deg);
					color: $light_blue;
				}
			}
			.submenu-button {
				display: block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				cursor: pointer;
				transition: all .3s ease;
				//border: 1px solid red;	
			}
		}
	}
}

.intro {
	color: $white;
	background-image: url('../img/intro/intro_bg.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	&__inner {
		padding-top: 253px;
		padding-bottom: 80px;
		position: relative;
	}
	&__title {
		color: $white;
		max-width: 604px;
	}
	&__content {
		max-width: 400px;
		margin: 40px 0;
		opacity: .8;
	}
	&__btn {
		color: $white;
		margin-bottom: 172px;
	}
	&__list {
		max-width: 1250px;
		ul {
			list-style-type: disc;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 0 20px;
		}
	}
	&__socials {
		position: absolute;
		right: 0;
		bottom: 85px;
	}
}

.benefits {	
	&__inner {
		background-image: url('../img/benefit/benefit_img.png');
		background-repeat: no-repeat;
		background-position: 100% 124px;
		padding-top: 124px;
		padding-bottom: 62px;
	}
	&__title {
		margin-bottom: 40px;
		max-width: 440px;
	}
	&__content {
		max-width: 588px;
	}
	&__image {
		width: 516px;
		margin: 30px 0;
	}
}

.tasks {
	&__inner {
		padding-top: 75px;
		padding-bottom: 150px;
	}
	&__title {
		max-width: 755px;
		margin-bottom: 50px;
	}
	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item {
		padding: 15px 30px;
		border: 1px solid $yellow;
		min-height: 114px;
		display: flex;
		align-items: center;
		max-width: 100%;
	}
	&__item:nth-child(6n+2) {
		border-color: $pink;
	}
	&__item:nth-child(6n+3) {
		border-color: $dark_pink;
	}
	&__item:nth-child(6n+4) {
		border-color: $green;
	}
	&__item:nth-child(6n+5) {
		border-color: $light_blue;
	}
}

.pluses {
	color: $white;
	&__inner {
		padding: 150px 0;
	}
	&__title {
		max-width: 755px;
		margin-bottom: 89px;
		color: $white;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__content {
		max-width: 410px;
		opacity: .8;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		font-weight: 500;
		flex-basis: 30%;
		margin-bottom: 25px;
		div {
			max-width: 186px;
			opacity: .8;
		}
	}
}

.advantages {
	&__inner {
		padding-top: 150px;
		padding-bottom: 75px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__title {
		max-width: 755px;
		margin-bottom: 40px;
	}
	&__text {
		max-width: 590px;
		margin-bottom: 40px;
	}
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__item {
		margin-bottom: 40px;
		max-width: 600px;
		&_title {
			font-size: 36px;
			margin-bottom: 20px;
		}
	}
}

.courses {
	&__inner {
		padding-top: 75px;
		padding-bottom: 150px;
		background-image: url('../img/courses/courses_img.png');
		background-repeat: no-repeat;
		background-position: 85% 100px;
	}
	&__title {
		max-width: 725px;
		margin-bottom: 40px;
	}
	&__text {
		max-width: 725px;
		margin-bottom: 50px;
	}
	&-image__wrapper img {
		margin-bottom: 40px;
		max-width: 100%;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
	}
	&__item {
		&_title {
			font-size: 36px;
			margin-bottom: 20px;
		}
	}
	&__item+&__item {
		margin-top: 40px;
	}
	&__item:first-child {
		max-width: 700px;
		.courses__item_title {
			max-width: 100%;
		}
	}
	&__item:last-child {
		max-width: 630px;
		margin-bottom: 0;
		.courses__item_title {
			max-width: 473px;
		}
	}
}

.consultation {
	&__inner {
		padding-top: 140px;
		padding-bottom: 150px;
		font-size: 16px;
	}
	&__form {
		padding: 70px 96px;
		background-color: $white;
	}
	&__title {
		font-size: 36px;
		margin-bottom: 25px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 20px;	
		input[type="text"] {
			width: 252px;
			margin-bottom: 45px;	
		}
	}
	button {
		align-self: flex-start;
		margin-left: 60px;
	}
	&__checkbox {
		flex-basis: 100%;
		margin-top: 4px;
		font-size: 14px;
	}
}


.offers {
	&__inner {
		padding-top: 150px;
		padding-bottom: 75px;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__text {
		margin-bottom: 50px;
		max-width: 591px;
	}
	&__subtitle {
		margin-bottom: 60px;
		font-size: 36px;
		max-width: 473px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item {
		flex-basis: 30%;
		margin-bottom: 50px;
		img {
			margin-bottom: 17px;
		}
		div {
			max-width: 186px;
			font-weight: 500;
		}
	}
}

.information {
	&__inner {
		padding: 75px 0;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__text {
		max-width: 591px;
	}
	&__wrapper {
		display: flex;
		margin-bottom: 61px;
		div {
			flex-basis: 50%;
		}
		.information__item+.information__item {
			margin-top: 40px;
		}
	}
	&__items {
		display: flex;
		justify-content: space-between;
		.information__item+.information__item {
			margin-top: 0;
		}
	}
	&__right, &__items {
		//max-width: 85%;
	}
	&__item {
		flex-basis: 50%;
		&-title {
			font-size: 36px;
			margin-bottom: 20px;
		}
		&-text {
			max-width: 604px;
		}
	}
}

.blog {
	&__inner {
		padding-top: 75px;
		padding-bottom: 150px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__btn {
		color: $text;
	}
	&-slider {
		margin-top: 60px;
	}
	&-slide {
		&__image {
			position: relative;
			margin-bottom: 27px;
		}
		&__date {
			margin-bottom: 10px;
			color: $text;
			opacity: 0.5;
			line-height: 1.2;
		}
		&__title {
			font-size: 24px;
			color: $darkblack;
		}
	}
	&-slide+&-slide {
		margin-left: 30px;
	}
}

.footer {
	color: $lightwhite;
	&__inner {
		padding: 60px 0;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		flex-basis: 30%;
		img {
			width: 133px;
		}
	}
	&-navigation, &-contacts {
		.title {
			color: $white;
			font-size: 36px;
			margin-bottom: 27px;
		}
		&__menu {
			a {
				color: $lightwhite;
				font-size: 20px;
				&:hover {
					color: $white;
				}
			}
			li+li {
				margin-top: 30px;
			}
		}
	}
	&-contacts {
		a {
			color: $lightwhite;
			display: block;
			margin-bottom: 20px;
			font-size: 16px;
			&:hover {
				color: $white;
			}
		}
	}
	&__copyright {
		margin-top: 38px;
		font-size: 16px;
	}
}

#consultation__fixed {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;

	svg {
		mix-blend-mode: difference
	}
	&.blue {
		path {
			fill: $light_blue;
		}
	}
	// mix-blend-mode: lighten;
}




@media(max-width: 1220px) {
	.header__menu.menu-opened {
		display: block;
	}
	.header__search {
		width: 107px;
		margin: 50px 0 75px 0;
		opacity: .7;
		color: $darkblack;
		a {
			transform: translateY(-45%);
			svg path {
				fill: $darkblack;
			}
		}
		&.active {
			border-color: $darkblack;
			width: 100%;
		}
		input {
			font-size: 24px;
			color: $darkblack;
			&::placeholder {
		    	color: $darkblack;
		    }
		}
	}
  .menu__list>li>a {
    color: $darkblack;
  }
  .header__menu {
  	display: none;
    background: $white;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: calc(100vh - 80px);
    padding: 35px 12px 50px 12px;
    overflow-y: auto;
    .menu__list {
	    display: block;
	    font-size: 20px;
	    li.has-sub {
	    	display: flex;
	    	flex-wrap: wrap;
	    	>a {
	    		min-width: 280px;
	    		width: auto;
	    		max-width: calc(100vw - 80px);
	    	}
	    }
	    >li.has-sub {
	    	>.submenu-button {
	    		color: $darkblack;
	    		&:hover, &.active {
	    			color: $blue;
	    		}
	    	}
	    }
	    .submenu-button {
	    	transform: rotate(-90deg);
	    	&.active {
	    		transform: rotate(0) !important;
	    		color: $blue;
	    	}
	    }
	    >li {
	    	margin-right: 0;
	    	margin-bottom: 20px;
			>a {
    			font-size: 24px;
	    		&:hover {
	    			color: $blue;
	    		}
	    	}
		}
		ul,
		ul ul {
			position: static;
		}
		ul {
			font-size: 18px;
			padding: 30px 0 0;
		}
		ul ul {
			padding: 0 0 10px 0;
			>li>a {
				font-size: 16px;
				opacity: .8;
				padding: 15px 0;
			}
		}	
		.active-link {
			color: $blue !important; 	
		}
	}
  }
}

// @media(max-width: 768px) {
//   .header__menu {
//     padding: 35px 12px 50px 12px;
//     overflow-y: auto;
//     .menu__list {
// 	    display: block;
// 	    font-size: 20px;
// 	    li.has-sub {
// 	    	display: flex;
// 	    	flex-wrap: wrap;

// 	    	>a {
// 	    		min-width: 280px;
// 	    		width: auto;
// 	    		max-width: calc(100vw - 80px);
// 	    	}
// 	    }
// 	    >li.has-sub {
// 	    	>.submenu-button {
// 	    		color: $text;
// 	    		&.active {
// 	    			color: $blue;
// 	    		}
// 	    	}
// 	    }
// 	    .submenu-button {
// 	    	transform: rotate(-90deg);
// 	    	&.active {
// 	    		transform: rotate(0) !important;
// 	    		color: $blue;
// 	    	}
// 	    }
// 	    >li {
// 	    	margin-right: 0;
// 	    	margin-bottom: 20px;
// 			>a {
//     			font-size: 24px;
// 	    		&:hover {
// 	    			color: $blue;
// 	    		}
// 	    	}
// 		}
// 		>li.has-sub {
// 			>.submenu-button {
// 				color: $text;
// 				&:hover, &.active {
// 					color: $blue;
// 				}
// 			}
// 		}
// 		ul,
// 		ul ul {
// 			position: static;
// 		}
// 		ul {
// 			font-size: 18px;
// 		}
// 		ul ul {
// 			padding: 23px 0 33px 0;
// 			>li>a {
// 				font-size: 16px;
// 				opacity: .8;
// 			}
// 		}	
// 		.active-link {
// 			color: $blue !important; 	
// 		}
// 	}
//   }
// }

@media(max-width: 376px) {
	.header__search {
		margin: 50px 0;
		input {
			font-size: 20px;
		}
	}
  .header__menu {
    .menu__list {
	    li.has-sub {
	    	>a {
	    		min-width: 160px;
	    	}
	    }
	    >li {
	    	margin-bottom: 0;
			>a {
    			font-size: 20px;
	    	}
		}
		ul {
			padding: 5px 0 5px 0;
			>a {
				padding: 16px 16px 16px 0;
			}
			>li.has-sub {
				justify-content: space-between;
			}
		}
		ul ul {
			padding: 7px 0;

			>li>a {
				width: 100%;
				padding: 10px 0;
			}
		}
	}
  }
}


.popup-fade {
	display: none;
	&:before {
		content: '';
		position: fixed; 
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%;
		z-index: 9999;
	}
}

.popup-close {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 30px;
	height: 30px;
	&__lines {
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			height: 1px;
			width: 30px;
			background-color: $black;
			top: 13px;
		}
		&:before {	
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}	
}

.popup {
	overflow-y: auto;
	width: 768px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	background: $white;
	z-index: 99999;
	opacity: 1;
	&__title {
		margin-bottom: 45px;
		font-size: 36px;
	}
	&__form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		input {
			width: 100%;
			flex-basis: 40%;
			margin-bottom: 45px;
		}
	}
}

.popup.blue {
	background: $light_blue;
	.popup__title {
		color: $white;
	}
	.popup__form {
		input {
			color: $white;
			border-color: $white;
			&::placeholder {
				color: $white;
			}
		}
		button {
			color: $white;
		}
	}
	.popup-close {
		&__lines {
			&:before, &:after {
				background-color: $white;
			}
		}	
	}
}


/*%fixedbox {
  // Basic styling
  box-sizing: border-box;
  display: block;
  font-size: 4em;
  padding: 1em;
  width: 6em;
  height: 3em;
  
  // Center box in middle of screen
  position: fixed; 
    top: 50%;
    left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.content {
    // Basic styling
    @extend %fixedbox;
  
    font-weight: bold;
    text-align: center;
    z-index: 1000;
  
    // Cut-out text effect
    background: #fff;
    color: #000;
    mix-blend-mode: lighten;
}

section {
  
  // Reset stacking context
  isolation: isolate;
  
  // Must be set to correctly position .wrapper below
  position: relative;
}

.wrapper {
  // Hides box (&:before) outside of section
  clip: rect(auto auto auto auto);
  
  // Clip works only on positions absolute or fixed
  position: absolute; 
  // Stretch to fill entire section
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
  &:before {
    content: " ";
    
    // Basic styling
    @extend %fixedbox;
    
    
    // Blend with background
    mix-blend-mode: darken;

  }
}

.one {
  .wrapper:before {
    // Box background color
    background: red;
  }
}

.two {
  background-image: url(https://source.unsplash.com/1920x1080?landscape);
  
  .wrapper:before {
    background: #faaa54;
    mix-blend-mode: difference;
  }
}

.three {
  background-image: url(https://source.unsplash.com/1920x1080?portrait);
  
  .wrapper:before {
    background: #6c320a;
    mix-blend-mode: screen;
  }
}

.four {
  background-image: url(https://source.unsplash.com/1920x1080?stars);
  
  .wrapper:before {
    background: #e4135d;
  }
}*/



@import 'media';